# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
.cache/
.pytest_cache/
.ipynb_checkpoints/

# Environments
.env
.venv
env/
venv/
ENV/

# OS files
.DS_Store
Thumbs.db

# Project specific
uploads/
temp/
